# Dependency directories
node_modules/
jspm_packages/
**/node_modules/

# Build output
dist/
**/dist/

# Credentials and Secrets
**/.env
**/certs/
**/*.pfx
**/*.key
**/*.cer

# IDE and OS files
.vscode/
.DS_Store
Thumbs.db

# Local Test Scripts
test-*.ts
tests/

# Local Reports
**/reports/

# OS
Thumbs.db
*.log